In [1]:
# Домашнее задание №2.
# Пункт 1.

# Команда соединяет Python с БД по API. Предварительно необходимо установить пакет Anaconda для исполнения команд в Jupyter Notebook.
# Первым шагом установливаем библиотеку psycopg2 для работы с PostgreSQL.
pip install psycopg2

Requirement already satisfied: psycopg2 in d:\anaconda\lib\site-packages (2.8.4)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Затем создаем соединение с БД. Чтобы посмотреть необходимые данные для подключения необходимо зайти в настройке вашего субд. 
# Если вы использовали PostgreSQL, данные можно посмотреть открыв SQL Shell на вашем компьютере.
# Данные для подлючения будут показаны после нескольких нажатий на enter.
import psycopg2 # это драйвер для postgresql
import getpass # это функция, которая скрывает пароль, можно не вводить данную функцию, 
# тогда в строке password вам необходимо указать свой пароль от базы данных 
conn=psycopg2.connect(user = 'postgres',
                     database = 'postgres',
                     host = 'localhost',
                     port = '5432',
                     password = getpass.getpass('Insert password: '))
# Проверяем подлючение
print(conn.get_dsn_parameters())

Insert password: ········
{'user': 'postgres', 'dbname': 'postgres', 'host': 'localhost', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

In [2]:
# Пункт 2.
# Для того, чтобы обратиться к БД за данными для пункта 3 необходимо установить пакет pandas.
import pandas as pd

In [19]:
# Далее с помощью запроса через query получаем из таблицы ratings_task в БД вид рейтинга grade, дату data и эмитента ent_name
# помещаем данные в таблицу data
query="SELECT ent_name, grade, data FROM ratings_task WHERE data >= '01.01.2014' AND data <= '01.01.2015' AND agency_id = 'EXP'"
data=pd.read_sql_query(query,conn)
data

# Если необходимо изменить диапазон дат, то, в условии WHERE нужно задать требуемый диапазон

                    ent_name grade        data
0                    1-й НПФ    A+  2014-03-26
1        А ПЛЮС ПАРК КОЛПИНО     A  2014-09-23
2        Абсолют Cтрахование    A+  2014-07-01
3          Аврора Капитал ИК     A  2014-09-24
4          Аврора Капитал ИК     A  2014-09-09
..                       ...   ...         ...
906      ЮЭСЭМ МЕТАЛЛОИНВЕСТ    A+  2014-12-16
907                    Якорь     A  2014-12-23
908  Якутский Фондовый Центр     A  2014-09-30
909            Якутуглестрой     A  2014-10-07
910                 ЯМАЛ-300    A+  2014-10-07

[911 rows x 3 columns]

In [25]:
# Пункт 3.
# Перед созданием функции определяемся с аргументами:
# вид рейтинга - grade, дата присвоения - data (для установки границ периода наблюдений пользователем) и login - db_login.
def my_fun(grade,data,db_login):
    import pandas as pd
    conn=psycopg2.connect(user=db_login['user'],
                      database=db_login['database'],
                      host=db_login['host'],
                      port=db_login['port'],
                      password=getpass.getpass('Insert password: '))
    query="SELECT ent_name, grade, data FROM ratings_task WHERE data >= '01.01.2014' AND data <= '01.01.2015' AND agency_id = 'EXP' "
    data=pd.read_sql_query(query,conn)

In [27]:
# Забираем нужные данные из базы data
data=pd.read_sql_query(query,conn)
data = pd.DataFrame(data)
data.head()

              ent_name grade        data
0              1-й НПФ    A+  2014-03-26
1  А ПЛЮС ПАРК КОЛПИНО     A  2014-09-23
2  Абсолют Cтрахование    A+  2014-07-01
3    Аврора Капитал ИК     A  2014-09-24
4    Аврора Капитал ИК     A  2014-09-09